@parts.content {
    <div class="wrapper">
        <div class="form">
            <div class="form-logo">
                <p class="logo">Janusz & Mirek</p>
                <p class="under-logo">Delivery Services</p>
            </div>
            <a href="@routes.ShipmentController.index()">
                <div class="form-button">
                    Send package
                </div>
            </a>
            <a href="@routes.LoginController.index()">
                <div class="form-button">
                    Log in
                </div>
            </a>
        </div>
    </div>
}(false)("none")()