@(user: String = "none")(error: String = "null")
@parts.content {
    <div class="panel-content">
        @if(error != "null") {
            <div class="panel-info">
            @error
            </div>
        }
        <div class="panel-table">

            <table>

                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Address</td>
                    <td>Region</td>
                    <td>Number of Packages</td>
                    <td>Options</td>
                </tr>
            </table>
        </div>
        <div class="form-options">
            @*Additional options:*@
            @*<a href="@routes.PanelControllerStats.edit("0")">*@
            @*<div class="form-button-small">*@
            @*Add new branch*@
            @*</div>*@
            @*</a>*@
        </div>
    </div>

    <div class="panel-wrapper"></div>

}(true)(user)("stats")